.header {
    grid-area: h;
    background: #3b5998;
    padding: 10px;
    border-radius: 3px;
  
  }
  
    .header img {
      width: 40px;
      height: 40px;
    }
    .header .login {
      float: right;
    }
      .header .login a {
        color: white;
        text-decoration: none;
      }