.nav{
    grid-area: n;
    background-color: #3b5998;
    padding: 20px;
    height: 400px;
    border-radius: 3px;
  }

  .nav a {
    text-decoration: none;
    font-size: 18px;
  }

.item a{
  color: white;
}

.item a.active {
  text-decoration: underline;
}