.active {
    font-size: 30px;
    color: gold;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .content a{
        text-decoration: none;
        color: #3b5998;
    }

  .content img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }