.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100%;
}

.names {
    padding: 20px;
    border-right: 2px solid black;
}

.messages {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.newPost {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.newPost textarea {
    width: 100%;
    resize: none;
}

.newPost button {
    width: 100px;
    margin-left: 5px;
}

.content {
    height: 400px;
    overflow: auto;
}

